In [1]:
import json
import pandas as pd
import numpy as np
from pandas import json_normalize

# Opening JSON file
f = open('/Users/Jorg/Accounton data/accounton_data.json')
  
# returns JSON object as 
# a dictionary
data = json.load(f)

df = pd.DataFrame(data)

df1 = df.dropna(axis=0, how='any')

df1.to_csv('/Users/Jorg/Accounton data/clean_accounton.csv', index=False)

df1.shape

(39801, 20)

In [1]:
import json
import pandas as pd
import numpy as np
from pandas import json_normalize

# Opening JSON file
f = open('/Users/Jorg/Accounton data/accounton_data.json')
  
# returns JSON object as 
# a dictionary
raw_data = json.load(f)

df = pd.json_normalize(raw_data)

df1 = df[df['ebit.2019'].notna()]

df1.to_csv('/Users/Jorg/Accounton data/clean_accounton.csv', index=False)

df1

,company_name,nace_code,vat_number,zipcode,city,creation_date,legal_form,company_category,province,ebit.2020,...,net_added_value.2018,net_added_value.2017,net_added_value.2016,net_added_value.2015,staff_costs.2020,staff_costs.2019,staff_costs.2018,staff_costs.2016,staff_costs.2017,staff_costs.2015
1,THE CONTENT MAKERS,82300,BE0685384578,9831,DEURLE,2017/11/15,Private company with limited liability,Small,East-Flanders,-5340.0,...,7800.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
2,NEW REUBENS SPORT,47785,BE0506833512,8340,SIJSELE,2014/12/15,Private company with limited liability,Small,West-Flanders,-1186.0,...,33493.0,74107.0,61687.0,73463.0,7140.0,27664.0,33445.0,34954.0,32223.0,31226.0
3,DIEVERTECH,33120,BE0538788775,8490,ZERKEGEM,2013/09/18,Private company,Small,West-Flanders,62157.0,...,66483.0,43259.0,63538.0,55781.0,NaN,NaN,NaN,0.0,NaN,0.0
5,VICI,68311,BE0445074503,9250,WAASMUNSTER,1991/09/06,Private company,Medium sized,East-Flanders,-256848.0,...,-263146.0,-73284.0,456403.0,1391143.0,161498.0,159134.0,244171.0,195954.0,430706.0,300393.0
6,KB RENO - CLEANING,81220,BE0542452506,2990,LOENHOUT,2013/11/22,Private company with limited liability,Small,Antwerp,16242.0,...,NaN,-990.0,NaN,NaN,12847.0,15676.0,8157.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49999,GARAGE OZCAR,45201,BE0696638558,3500,HASSELT,2018/05/18,Private company with limited liability,Small,Limburg,7117.0,...,82293.0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN
50000,DR. MARC VANDIJCK,86210,BE0449101981,3440,BUDINGEN,1992/12/28,Private company with limited liability,Small,Vlaams Brabant,87659.0,...,85241.0,74981.0,108957.0,58415.0,0.0,0.0,0.0,0.0,0.0,0.0
50001,DIGITAL MUSIC PRINT,58190,BE0442726905,2600,BERCHEM-ANTWERPEN,1991/01/21,Private company,Small,Antwerp,154419.0,...,58486.0,130376.0,62800.0,49169.0,0.0,0.0,NaN,NaN,NaN,0.0
50002,ASCO,68203,BE0687778203,3391,MEENSEL-KIEZEGEM,2018/01/08,Private company with limited liability,Small,Vlaams Brabant,175190.0,...,60594.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
50003,HENRI GEUZINGE MANAGEMENT,70220,BE0525832248,2180,EKEREN,2013/04/03,Private company with limited liability,Small,Antwerp,82583.0,...,213516.0,347162.0,591922.0,450715.0,352786.0,279780.0,204439.0,144771.0,189730.0,148144.0